.header__container, .close-btn, .works-list, .social-list__link, .clients-list__link, .checkbox__icon-wrapper {
  display: flex;
  align-items: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  color: #757575;
  background-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.address {
  font-style: normal;
  text-align: center;
}

.footer__address {
  margin-top: 20px;
}

.group-absolute {
  position: relative;
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    font-weight: 700;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header__navigation {
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__navigation {
    margin-left: 93px;
  }
}

.nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
  }
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 32px 0;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #212121;
}

.nav-list__link:hover, .nav-list__link:focus {
  color: #2196f3;
}

.nav-list--current {
  color: #2196f3;
}

.nav-list--current::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.nav-list-mobile__item:not(:last-child) {
  margin-bottom: 32px;
}

.nav-list-mobile__link {
  font-size: 40px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-mobile__link:hover, .nav-list-mobile__link:focus {
  color: #2196f3;
}

.nav-list-mobile__link--current {
  color: #2196f3;
}

.primary-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .primary-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .primary-contacts {
    margin-left: auto;
  }
  .primary-contacts__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0px;
  }
}

.primary-contacts__link {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .primary-contacts__link {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .primary-contacts__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.primary-contacts__link:hover, .primary-contacts__link:focus {
  color: #2196f3;
}

.primary-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.primary-contacts__link--big {
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  font-weight: 500;
}

@media screen and (max-width: 479px) {
  .primary-contacts__link--big {
    font-size: 30px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
}

.primary-contacts__link--accent-color {
  color: #2196f3;
}

.header__contacts {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contacts {
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts {
    display: flex;
    align-items: center;
  }
}

.secondary-contacts__item:not(:first-child) {
  margin-top: 8px;
}

@media screen and (min-width: 1200px) {
  .secondary-contacts__item:not(:first-child) {
    margin-top: 9px;
  }
}

.secondary-contacts__link {
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.secondary-contacts__link--white {
  color: #ffffff;
}

.secondary-contacts__link:hover, .secondary-contacts__link:focus {
  color: #2196f3;
}

.logo {
  display: block;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-align: center;
}

.logo__web {
  color: #2196f3;
}

.logo--primary {
  color: #000000;
}

.logo--secondary {
  color: #ffffff;
}

.hero {
  padding: 118px 0;
  margin: 0 auto;
  background-color: #2f303a;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mob-1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mob-2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tab-1x.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tab-2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desk-1x.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desk-2x.jpg");
  }
}

.hero__title {
  margin: 0 auto 30px;
  max-width: 360px;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    font-weight: 900;
  }
}

.primary-btn {
  display: block;
  min-width: 200px;
  padding: 10px 32px;
  margin: 0 auto;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-family: inherit;
  color: #ffffff;
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-btn:focus, .primary-btn:hover {
  background-color: #188ce8;
}

.primary-btn__icon {
  margin-left: 10px;
}

.primary-btn--flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  justify-content: center;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:focus, .close-btn:hover {
  color: #2196f3;
}

.close-btn__icon {
  fill: currentColor;
}

.secondary-btn {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-weight: 500;
  cursor: pointer;
  color: #212121;
  background-color: #f5f4fa;
}

.secondary-btn:hover, .secondary-btn:focus, .secondary-btn:active {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu-btn {
  position: relative;
  z-index: 10;
  width: 40px;
  height: 40px;
  padding: 22px 15px;
  margin-left: auto;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.menu-btn:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}

.menu-btn .menu-btn__icon--close {
  opacity: 0;
}

.menu-btn .menu-btn__icont--open {
  opacity: 1;
}

.menu-btn--is-open .menu-btn__icon--close {
  opacity: 1;
}

.menu-btn--is-open .menu-btn__icon--open {
  opacity: 0;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 47px;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.features-list__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features-list__item {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.features-list__item-wrap {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.features-list__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .features-list__title {
    text-align: start;
  }
}

.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
}

.works {
  display: none;
  padding-top: 47px;
}

@media screen and (min-width: 1200px) {
  .works {
    display: block;
  }
}

.works-list {
  flex-wrap: wrap;
  margin: -15px;
}

.works-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin: 15px;
  position: relative;
}

.works-list__description {
  position: absolute;
  bottom: 0;
  padding: 27px 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
}

.works-list__text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team-list__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list__item:not(:last-child) {
    margin: 15px;
  }
}

.team-list__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.teammate {
  padding: 30px 32px;
}

.teammate__name {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-weight: 500;
  text-align: center;
  color: #212121;
}

.teammate__position {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  color: #afb1b8;
}

.social-list__icon {
  fill: currentColor;
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-list__link--secondary {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.social-list__link--secondary:hover, .social-list__link--secondary:focus {
  background-color: #2196f3;
}

.social-list-secondary {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  margin-left: -10px;
}

.social-list-secondary__item {
  padding: 0 10px;
}

@media screen and (max-width: 479px) {
  .social-list-secondary__item {
    margin-bottom: 10px;
  }
}

.social-list-secondary__item + .social-list-secondary__item {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.social-list-secondary__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2196f3;
}

.clients-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -15px;
}

@media screen and (max-width: 479px) {
  .clients-list {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    flex-wrap: nowrap;
  }
}

.clients-list__item {
  min-width: 170px;
  min-height: 92px;
  margin: 15px;
  flex-basis: calc(100% / 2 - 30px);
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (max-width: 479px) {
  .clients-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.clients-list__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

@media screen and (max-width: 479px) {
  .clients-list__link {
    min-width: 168px;
    min-height: 90px;
  }
}

.clients-list__logo {
  fill: currentColor;
}

.clients-list__link:hover, .clients-list__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__container-wrap {
    margin-right: 165px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer__container-wrap {
    margin: 0;
  }
}

.footer__social {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .footer__social {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social {
    margin-left: 70px;
  }
}

.footer__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: left;
  }
}

.footer__subscribe {
  margin-top: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__subscribe {
    margin-top: 0;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: flex;
  }
}

.subscribe-form__input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  font-weight: 400;
  align-items: center;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .subscribe-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.subscribe-form__input:focus {
  border-color: #ffffff;
}

.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form__input:focus::placeholder {
  color: #ffffff;
}

.backdrop {
  position: fixed;
  z-index: 15;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  transition: opacity 500ms, visibility 500ms;
}

.backdrop .is-hidden .modal {
  transform: scale(2) rotate(180deg) translate(110px, 110px);
}

.modal {
  position: absolute;
  padding: 40px;
  width: 98%;
  max-height: 100vh;
  overflow: auto;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    font-weight: 700;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0;
  z-index: 5;
  padding: 48px 40px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu--is-open {
  transform: translateX(0);
}

.mobile-menu__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu__bottom-wrap {
  margin-top: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.input-field {
  margin-bottom: 10px;
}

.input-field__input {
  width: 100%;
  height: 40px;
  padding: 11px 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
}

.input-field__input:focus {
  border-color: #2196f3;
}

.input-field__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field__input:focus + .input-field__icon {
  fill: #2196f3;
}

.textarea-field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.textarea-field__input {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  outline: none;
  background-color: transparent;
  color: #000000;
}

.textarea-field__input:focus {
  border-color: #2196f3;
}

.textarea-field__input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  margin-bottom: 30px;
}

.checkbox__input:checked + .checkbox__label .checkbox__icon-wrapper {
  background-color: #2196f3;
  border: 0;
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 400;
}

@media screen and (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-weight: 400;
  }
}

.checkbox__icon-wrapper {
  justify-items: center;
  margin-right: 7px;
  padding: 3px 2px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .checkbox__icon-wrapper {
    margin-right: 35px;
  }
}

.checkbox__link {
  margin-left: 4px;
  color: #2196f3;
}

.label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  font-weight: 400;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin: -8px -8px -8px 0;
}

@media screen and (min-width: 768px) {
  .filter {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.filter__item {
  margin: 8px 8px 8px 0;
}

.portfolio-list__wrap {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio-list__wrap {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list__wrap {
    margin-top: 50px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio-list__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio-list__item:not(:last-child) {
    margin: 15px;
  }
}

.portfolio-list__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio-list__item {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-list__item:first-child .portfolio-list__item-wrap {
    padding-bottom: 56px;
  }
}

.portfolio-list__item:hover, .portfolio-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__item-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-list__card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-list__item:hover .portfolio-list__card-overlay,
.portfolio-list__item:focus .portfolio-list__card-overlay {
  transform: translateY(0);
}

.portfolio-list__card-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: #ffffff;
}

.portfolio-list__item-wrap {
  padding: 20px 24px;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  background-color: #ffffff;
}

.portfolio-list__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;
  color: #212121;
}

.portfolio-list__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */