.backdrop {
  position: fixed;
  z-index: 15;

  width: 100vw;
  height: 100vh;
  background-color: rgba($logo-primary, 0.2);

  top: 0;
  left: 0;
  transition: opacity 500ms, visibility 500ms;

  .is-hidden .modal {
    transform: scale(2) rotate(180deg) translate(110px, 110px);
  }
}

.modal {
  position: absolute;
  padding: 40px;
  width: 98%;
  max-height: 100vh;
  overflow: auto;

  @media screen and (min-width: $mobile) {
    width: 450px;
  }

  @media screen and (min-width: $desktop) {
    width: 528px;
  }

  background-color: $background-primary;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba($logo-primary, 0.12), 0px 1px 1px rgba($logo-primary, 0.14),
    0px 2px 1px rgba($logo-primary, 0.2);

  top: 50%;
  left: 50%;

  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &__title {
    margin-bottom: 12px;

    @include font(20px, 1.5, 0.03em, 700);
    text-align: center;

    color: $primary-color;

    @media screen and (min-width: $desktop) {
      @include font(20px, 1.15, 0.03em, 700);
    }
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
