p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0 auto;

  font-family: Roboto, sans-serif;
  color: $primary-shade-color;
  background-color: $background-primary;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  @media screen and (min-width: $mobile) {
    width: 480px;
  }
  @media screen and (min-width: $tablet) {
    width: 768px;
  }
  @media screen and (min-width: $desktop) {
    width: 1200px;
  }
}

.address {
  font-style: normal;
  text-align: center;
}
.footer__address {
  margin-top: 20px;
}

.group-absolute {
  position: relative;
}
