.primary-contacts {
  display: none;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include font(14px, 1.14, 0.02em, 500);
    color: $primary-shade-color;
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    &__item:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.header__contacts {
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}

.secondary-contacts {
  &__item:not(:first-child) {
    margin-top: 8px;
    @media screen and (min-width: 1200px) {
      margin-top: 9px;
    }
  }
  &__link {
    display: inline-block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba($background-primary, 0.6);
  }
  &__link--white {
    color: $background-primary;
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
}

.primary-contacts-mob {
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include font(24px, 1.17, 0.02em, 500);
    color: $primary-shade-color;
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
    @include font(34px, 1.18, 0.02em, 500);
  }
}
