.footer {
  background-color: $background-secondary;
  padding: 60px 0;
  &__container {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    @media screen and (min-width: $desktop) {
      flex-wrap: nowrap;
      align-items: center;
    }
  }
  &__container-wrap {
    @media screen and (min-width: $tablet) {
      margin-right: 165px;

      @media screen and (min-width: $desktop) {
        margin: 0;
      }
    }
  }
  &__social {
    margin-top: 60px;

    @media screen and (min-width: $tablet) {
      margin-top: 0;
    }

    @media screen and (min-width: $desktop) {
      margin-left: 70px;
    }
  }
  &__title {
    margin-bottom: 20px;

    @include font(14px, 1.14, 0.03em, 700);
    text-align: center;
    text-transform: uppercase;
    color: $background-primary;

    @media screen and (min-width: $desktop) {
      text-align: left;
    }
  }
  &__subscribe {
    margin-top: 60px;
    text-align: center;

    @media screen and (min-width: $desktop) {
      margin-top: 0;
      margin-left: auto;
    }
  }
}
