.hero {
  padding: 118px 0;
  margin: 0 auto;
  background-color: $background-secondary;
  text-align: center;

  @include bg-img('../images/hero-mob-1x.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    @include bg-img('../images/hero-mob-2x.jpg');
  }

  @media screen and (min-width: $tablet) {
    @include bg-img('../images/hero-tab-1x.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      @include bg-img('../images/hero-tab-2x.jpg');
    }
  }

  @media screen and (min-width: $desktop) {
    padding: 200px 0;
    max-width: 1600px;

    @include bg-img('../images/hero-desk-1x.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      @include bg-img('../images/hero-desk-2x.jpg');
    }
  }

  &__title {
    margin: 0 auto 30px;
    max-width: 360px;
    @include font(26px, 1.62, 0.06em, 900);

    @media screen and (min-width: $desktop) {
      max-width: 696px;
      @include font(44px, 1.36, 0.06em, 900);
    }

    text-transform: uppercase;
    color: $background-primary;
  }
}
