.nav-list {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 32px 0;

    @include font(14px, 1.14, 0.02em, 500);
    color: $primary-color;
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
  &--current {
    color: $accent-color;
  }
  &--current::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
  }
}

.nav-list-mobile {
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__link {
    @include font(40px, 1.16, 0.02em, 500);
    color: $primary-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
}
.nav-list-mobile__link--current {
  color: $accent-color;
}
