.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  &__item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    flex-basis: calc((100% - 2 * 30px) / 3);
    margin: 0 30px 30px 0;
  }
  &__item:nth-child(3n) {
    margin-right: 0;
  }
  &__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  &__item:hover,
  &__item:focus {
    box-shadow: 0px 1px 1px rgba($logo-primary, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba($logo-primary, 0.16);
  }
  &__item-thumb {
    position: relative;
    overflow: hidden;
  }

  &__card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 63px 24px;
    background-color: rgba($accent-color, 0.9);
  }

  &__item:hover &__card-overlay,
  &__item:focus &__card-overlay {
    transform: translateY(0);
  }
  &__card-text {
    @include font(18px, 1.56, 0.03em, 400);
    color: $background-primary;
  }

  &__wrap {
    padding: 20px 24px;
    border-right: 1px solid $border-primary;
    border-bottom: 1px solid $border-primary;
    border-left: 1px solid $border-primary;
    background-color: $background-primary;
  }
  &__title {
    margin-bottom: 4px;

    @include font(18px, 2, 0.06em, 700);
    color: $primary-color;
  }
  &__text {
    @include font(16px, 1.87, 0.03em, 400);
    color: $primary-shade-color;
  }
}
