.section {
  padding: 60px 0;

  @media screen and (min-width: $desktop) {
    padding: 94px 0;
  }

  &__title {
    margin-bottom: 30px;

    @include font(28px, 1.18, 0.03em, 700);
    text-align: center;

    color: $primary-color;

    @media screen and (min-width: $desktop) {
      margin-bottom: 50px;
      @include font(36px, 1.16, 0.03em, 700);
    }
  }
}
