.subscribe-form {
  @media screen and (min-width: $desktop) {
    display: flex;
  }

  &__input {
    width: 100%;
    height: 50px;
    padding: 15px 16px;
    margin-bottom: 20px;

    @media screen and (min-width: $mobile) {
      width: 450px;
    }

    @media screen and (min-width: $desktop) {
      width: 358px;
      margin-bottom: 0;
      margin-right: 12px;
    }

    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: transparent;
    border: 1px solid rgba($background-primary, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba($logo-primary, 0.15));
    border-radius: 4px;

    @include font(16px, 1.25, 0.03em, 400);
    align-items: center;

    color: $background-primary;
  }
  &__input:focus {
    border-color: $background-primary;
  }
  &__input::placeholder {
    @include font(16px, 1.25, 0.03em, 400);

    display: flex;
    align-items: center;

    color: rgba($background-primary, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__input:focus::placeholder {
    color: $background-primary;
  }
}
