.team {
  background-color: $background-section;
}
.team-list {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -15px;
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;

    @media screen and (min-width: $tablet) {
      margin: 15px;
    }
  }

  &__item {
    background: $background-primary;
    box-shadow: 0px 1px 3px rgba($logo-primary, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba($logo-primary, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: $tablet) {
      flex-basis: calc(100% / 2 - 30px);
      margin: 15px;
    }

    @media screen and (min-width: $desktop) {
      flex-basis: calc(100% / 4 - 30px);
    }
  }
}
