.works {
  display: none;
  @media screen and (min-width: $desktop) {
    display: block;
  }
  padding-top: 47px;
}

.works-list {
  @extend %flex;
  flex-wrap: wrap;
  margin: -15px;

  &__item {
    flex-basis: calc(100% / 3 - 30px);
    margin: 15px;
    position: relative;
  }

  &__description {
    position: absolute;
    bottom: 0;
    padding: 27px 0;
    width: 100%;
    background: rgba($background-secondary, 0.8);
  }
  &__text {
    @include font(14px, 1.14, 0.03em, 700);
    text-align: center;
    text-transform: uppercase;
    color: $background-primary;
  }
}
