$primary-color: #212121;
$accent-color: #2196f3;
$primary-shade-color: #757575;
$background-primary: #ffffff;
$background-secondary: #2f303a;
$background-section: #f5f4fa;
$logo-primary: #000000;
$border-primary: #ececec;
$icon-primary: #afb1b8;
$accent-color-secondary: #188ce8;

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
